@model LifeRPG.Models.Rewards

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rewards</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantityAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClaimTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClaimTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeLastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeLastUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IconAsset)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IconAsset)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCostIncrementing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCostIncrementing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CostIncrement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CostIncrement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddsToInventory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddsToInventory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
