@model IEnumerable<LifeRPG.Models.Missions>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productiveness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continuous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repetition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconAsset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasReminders)
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(m => m.Completed < 1))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Parent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productiveness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fear)
            </td>
            <td>
                @if (item.TimeDue != 0)
                {
                    @if (item.IsDueAtSpecificTime > 0)
                    {
                        @item.TimeDueDisplay
                    }
                    else
                    {
                        @item.TimeDueDisplay.ToShortDateString()
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continuous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repetition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IconAsset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interval)
            </td>
            <td>
                @if (item.Duration > 0)
                {
                    @item.DurationDisplay
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RewardPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasReminders)
            </td>
            <td>
                @if (item.HasLocation > 0)
                {
                    @(Html.DisplayFor(modelItem => item.Latitude)+", "+ Html.DisplayFor(modelItem => item.Longitude))
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
